.container {
    margin-top: 15rem;
    margin-bottom: 10px;
    padding: 20px;
    background-color: lightgray;
    margin-left: 15rem;
    margin-right: 15rem;
}

.content {
    
}

.header {
    margin-top: 1rem;
    text-align: center;
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
    color: dimgray;
}

.second-header {
    
    margin-right: 40rem;
    text-align: center;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    color: dimgray;
}

#password {
    margin-left: 5rem;
    margin-right: auto;
}